* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.squre {
    position: relative;
    margin-top: 40vh;
    margin-left: 45vw
}
.item {
width: 200px;
height: 200px;
position: absolute;
}
.item-1 {
    background-color: red;
}
.item-2 {
    background-color: green;
    left: 50px;
    top: 50px;
    z-index: 1;
}
.item-3 {
    background-color: blue;
    left: 100px;
    top: 100px;
}
.item-2:hover {
    width: 300px;
    height: 300px;
    transform:rotate(-45deg);
    transition: 1s;
}
